<div *ngIf="route.snapshot.queryParams['atomic'] === ''; else content" style="padding:  0 20%;">

    <h2 style="background-color: #ececec;">Typography</h2>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <h3>Lorem ipsum dolor sit amet.</h3>
    <h4>Lorem ipsum dolor sit amet.</h4>
    <h5>Lorem ipsum dolor sit amet.</h5>
    <h6>Lorem ipsum dolor sit amet.</h6>

    <a href="">Link to an article</a>
    <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias doloribus et expedita id in iste
       minima quam quidem sunt, voluptatibus.</p>

    <hr>
    <h2 style="background-color: #ececec;">Navigation</h2>

    <nav>
        <a active href="">Home</a>
        <a href="">About me</a>
        <a href="">Contact me</a>
    </nav>

    <hr>
    <h2 style="background-color: #ececec;">Article</h2>

    <article>
        <time>April, 20 2020</time>
        <h2>Article title goes here even if it is long</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consequuntur culpa cumque, debitis
           deleniti dignissimos doloremque doloribus eius esse fugiat illum impedit ipsam magnam minus numquam,
           porro quasi qui quis quisquam reiciendis repellat rerum sequi sint suscipit voluptas, voluptatem. Ab
           expedita praesentium sed? Dolore est inventore saepe sapiente veniam.</p>
    </article>

    <article>
        <time>April, 20 2020</time>
        <div>
            <h2>Article title goes here even if it is long</h2>
            <a href="" class="sub-text float-right">Edit</a>
            <a href="" class="sub-text float-right">Delete</a>
        </div>
        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consequuntur culpa cumque, debitis
                deleniti dignissimos doloremque doloribus eius esse fugiat illum impedit ipsam magnam minus numquam,
                porro quasi qui quis quisquam reiciendis repellat rerum sequi sint suscipit voluptas, voluptatem. Ab
                expedita praesentium sed? Dolore est inventore saepe sapiente veniam.
            </p>
            <img src="assets/articles/1.jpg" alt="Recipe image">
        </section>
    </article>

    <hr>
    <h2 style="background-color: #ececec;">Buttons</h2>

    <button>Press me</button>

    <hr>
    <h2 style="background-color: #ececec;">Inputs</h2>

    <div class="form-control">
        <label for="title">Input text</label>
        <input type="text" id="title">
    </div>
    <div class="form-control">
        <label for="content">Textarea</label>
        <textarea id="content" cols="30" rows="10"></textarea>
    </div>

    <br>
    <br>
    <br>
</div>

<ng-template #content>

    <aside>
        <h5 class="no-margin">Hello, my name is,</h5>
        <h1 class="extra-large username">John Doe</h1>
        <p class="no-margin">I am chef and restaurateur that loves</p>
        <p>to prepare delicious mater-pieces</p>
        <button routerLink="/contact" class="call-to-action">Contact me for private events</button>
        <div class="avatar" style="background-image: url(assets/chef-logo.png)"></div>
    </aside>
    <section>
        <nav>
            <a routerLink="/" [attr.active]="selectedPage === '' ? true: undefined">My best recipes</a>
            <a routerLink="/portfolio" [attr.active]="selectedPage === 'portfolio' ? true: undefined">Portfolio</a>
            <a routerLink="/about" [attr.active]="selectedPage === 'about' ? true: undefined">About me</a>
            <a routerLink="/contact" [attr.active]="selectedPage === 'contact' ? true: undefined">Contact</a>
        </nav>
        <nav class="float-right">
            <a routerLink="/new" [attr.active]="selectedPage === 'new' ? true: undefined" *appAuth>New article</a>
            <a class="clickable" (click)="logout()" *appAuth>Logout</a>
        </nav>
        <main>
            <router-outlet></router-outlet>
        </main>
    </section>

</ng-template>
