.portfolio{
    display: flex;
    flex-wrap: wrap;
    div{
        flex: 1;
        min-width: 33.33%;
        padding: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        img{
            width: 100%;
        }

        &:hover{
            transform: scale(1.05);
        }
    }
}
