<article *ngFor="let article of articles">
    <time>{{article.updatedAt | date}}</time>
    <div>
        <h2><a [routerLink]="[article.id]">{{article.title}}</a></h2>
        <a [routerLink]="['/edit', article.id]" class="sub-text float-right" *appAuth>Edit</a>
        <span (click)="delete(article)" class="sub-text clickable float-right" *appAuth>Delete</span>
    </div>
    <section>
        <p [innerHTML]="article.content + '...'" ></p>
        <img [src]="'assets/articles/' + article.image" alt="recipe image">
    </section>
</article>

<div style="display: flex;justify-content: space-between; margin-bottom: 50px;">
    <div>
        <a class="clickable" (click)="goToPage(page-1)" *ngIf="page > 1">Previous page</a>
    </div>
    <div>
        <a class="clickable">Page {{ page }}</a>
    </div>
    <div>
        <a class="clickable" (click)="goToPage(page+1)" *ngIf="page >= 1 && articles.length">Next page</a>
    </div>
</div>
