<form (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-control">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" autocomplete="off">
        <ng-container *ngIf="form.controls.email.touched && form.controls.email.errors">
            <div *ngFor="let error of form.controls.email.errors| keyvalue" class="error">
                {{ error.value }}
            </div>
        </ng-container>
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" autocomplete="off">
        <ng-container *ngIf="form.controls.password.touched && form.controls.password.errors">
            <div class="error" *ngFor="let error of form.controls.password.errors| keyvalue">
                {{ error.value }}
            </div>
        </ng-container>
    </div>
    <button>Login</button>
</form>
